.registration form {
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgb(221, 208, 208);
    border-radius: 8px;
    box-shadow: 0px 4px 8px;   
}

.registration div{
    margin: 20px;
}

.registration label{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

button{
    width: 30%;
    padding: 10px;
    border-radius: 8px;
}
